section.log-pane {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  width: 100%;

  font-family: Consolas, "Liberation Mono", Courier, monospace;

  header {
    flex: 0 1 auto;
  }

  div.log-line-wrapper {
    flex: 1 1 auto;
  }

  .log-row {
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    padding: 0 2em;
    white-space: pre;

    span:last-child {
      padding-right: 10px;
    }

    &.missing {
      background-color: rgba(255, 255, 255, 0.1)
    }

    &.loading {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .Grid__innerScrollContainer {
    overflow: visible;
  }

  .Grid {
    overflow-x: scroll !important;
  }

  footer {
    flex: 0 1 40px;
  }
}

@import './ansi';
