section.log-pane {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  width: 100%;

  overflow-y: scroll;

  font-family: Consolas, "Liberation Mono", Courier, monospace;

  header {
    flex: 0 1 auto;
  }

  div.log-line-wrapper {
    flex: 1 1 auto;
  }

  .log-row {
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    height: 14px;
    padding: 0;
    white-space: pre;


    &:hover {
      .default-tailer-link {
        visibility: visible;
      }
    }

    .default-tailer-link {
      padding: 0 5px;
      visibility: hidden;
      transform: translateZ(0);

      a {
        text-decoration: none;
      }

      a:link {
        color: white;
      }

      a:visited {
        color: white;
      }

      a:hover {
        color: gray;
      }

      a:active {
        color: darkgray;
      }
    }

    span:last-child {
      padding-right: 10px;
    }

    &.missing {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.loading {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .Grid__innerScrollContainer {
    overflow: visible;
  }

  .Grid {
    overflow-x: scroll !important;
  }

  footer {
    flex: 0 1 40px;
  }
}

@import './ansi';
