<p>
	You need to specify an API root so SingularityUI knows where to get its data,
	eg <code>http://example/api</code>.
</p>

<p>
	This can be changed at any time in the JS console with
	<code>localStorage.setItem(&quot;apiRoot&quot;, &quot;http://example/api&quot;)</code>
</p>
