<p>Are you sure you want to remove this request?</p>
<pre>{{ requestId }}</pre>
<p>
    Removing this request will kill all active and scheduled
    tasks and tasks for it will not run again unless it is
    reposted to Singularity.
</p>