html
  head
    title Request Paused
  body
    p Request #{request_id} is paused.
    p It has failed #{num_failures} times consecutively and will not run again until it is manually unpaused or updated.   

    p Task Update History:
    ul
      for task_update in task_updates
        li= task_update
      else
        li No updates

       