_book
*.orig
target
.DS_Store
.classpath
.settings
target-eclipse
.project
.pydevproject
bin
*~
JavaConsole.java
.checkstyle
*.iml
.idea
*.pyc
__pycache__
local_singularity*yml
qa_singularity.yml
Docs/_build
SingularityUI/npm-debug.log
SingularityUI/node_modules/*
SingularityUI/bower_components/*
SingularityUI/brunchlog
SingularityUI/app/env.coffee

node_modules/*
.vagrant
vagrant/Berksfile.lock
SingularityUI/.vee

scripts/*.log
scripts/*.gz
scripts/singularity_logfetch.egg-info
scripts/build
scripts/dist
scripts/.venv

.pmdruleset.xml
