language: java
jdk:
  - oraclejdk7
  - openjdk7
  - oraclejdk8

install: true
script: mvn -B -q verify

git:
  depth: 100

sudo: false

before_install:
  - wget https://archive.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
  - unzip -qq apache-maven-3.3.9-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.3.9
  - export PATH=$M2_HOME/bin:$PATH

cache:
  directories:
  - $HOME/.m2
