{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/transform-react-jsx",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
