#agent-usage-page
	margin-left : 85px
	margin-right : 85px

#agent-usage-page h1
	height: 43px;
	font-size: 36px;
	font-weight: 500;
	line-height: 44px;
	color: #425B76;

#agent-usage-page hr
	margin-left : -85px

// AgentAggregates
.aggregate
	padding-top : 20px;
	text-align : center;
	color: #7C98B6;

	&.vcenter
		position: relative;
		transform: translateY(50%);

	a:hover
		text-decoration: none;
		border-bottom: 1px dotted;

	.value
		font-size : 50px

	.label, .graph .label
		font-size : 20px
		font-weight: 300;
		color: #7C98B6;
		max-width: 100%;
		white-space: normal;

.graph
	margin-left : 10px
	width : 160px

.last-updated
	color: #666;

// AgentHealth
.single-agent-btn
	padding : 15px 15px
	border-radius : 0px
	display : inline-block
	opacity : .8

	&:focus, &:active
		outline : none

.single-agent-btn:hover
	opacity : 1

#agent-usage-quick-stats
	color : #7C98B6
	margin-bottom : 0
	font-size : 14px
	height : 34px

#agent-usage-quick-stats #agent-name
	padding-top : 10px
	padding-right : 0px

#agent-usage-quick-stats #pct-utilized
	color : #425B76
	text-align : center

#agent-usage-quick-stats #status
	font-size : 12px
	padding-left : 3px
	white-space : nowrap

#agent-usage-quick-stats #memory-stats
	padding-left : 5px

// AgentResourceHealth
.agent-usage-popover
	max-width : none

// AgentHealthMenuItems
.stat-item-detail
	white-space : nowrap
	width : auto
	list-style : none

.timestamp-stat
	color : #666
	font-size : 13px
	text-align : center
	list-style : none

.stat-item-detail .row
	margin-bottom : .5em

#stat-name
	color : #666
	font-size : 13px
	display : inline

#stat-value
	display : inline

#stat-percentage
	display : inline
