@import 'colors.styl';

// Alerts
.alert-slim
  padding 8px 10px

// Forms
.input-group-addon--select
  padding 0
  border-radius 0
  background #fff
  border 1px solid #ccc

.panel-body
  p
    margin-bottom 0

.dropdown-menu li > a
  display block
  padding 3px 20px
  clear both
  font-weight normal
  line-height 1.42857143
  color #333
  white-space nowrap

  &:hover
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;

.bg-warning-strong
  background-color $orange-light

.bg-disabled
  background-color $grey-medium

.bg-waiting
  background-color $purple-light
