@import colors

.chart__column
  width 100%
  height 300px

.chart__data-point
  display block
  transition height 3s

.chart__label
    vertical-align middle

.chart__legend-fill
    display inline-block
    height 20px
    width 20px
    vertical-align middle
    margin-right 10px

.chart-fill-active
    background $green

.chart-fill-paused
    background $grey

.chart-fill-pending
    background $purple

.chart-fill-cleaning
    background $dark-yellow
    color $grey

.chart-fill-cooldown
    background $blue-light

.chart-fill-scheduled
    background $blue

.chart-fill-overdue
    background $red

.chart-fill-lbCleanup
    background $orange

.chart-fill-blank
    background: $base-bg

.chart-fill-launching
    background $blue-light
