@import 'colors.styl'

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.info {
  .CircularProgressbar .CircularProgressbar-path {
    stroke: $grey-medium;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: $grey-medium;
  }
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
