$linkBlue = #08c

$base-bg = #fff
$base-text = #333

$beige = #f3efe0
$grey = #444444
$grey-medium = #999999
$grey-light = #ededed
$grey-xtra-light = #fafafa
$red = #e94d4d
$orange = #df7310
$orange-light = #ffd7b5
$yellow = #ffff99
$green = #48a770
$green-dark = #3a865a
$blue = #336ca6
$blue-light = #94b8de
$purple = #b93c96
$purple-light = #efbae0
$dark-yellow = #e6e65c
$removeRed = #df6f6f

$alert-danger = #f04b51
$alert-warning = #fdf3e1
$alert-success = #5967bc

$nav-yellow-start = #fcf8e3
$nav-yellow-end = #faf2cc
$nav-yellow-dark = #F8EDB4

$nav-red-start = #f2dede
$nav-red-end = #ebcccc
$nav-red-dark = #E4B9B9

$nav-green-start = #dff0d8
$nav-green-end = #d0e9c6
$nav-green-dark = #C5E4B9

$nav-blue-start = #d9edf7
$nav-blue-end = #c4e3f3
$nav-blue-dark = #AED9EF
