@import colors

.color-warning
    color: $orange

.color-success
	color: $green

.color-error
    color: $red

.color-paused
    color: $dark-yellow

.color-grey
    color: $grey

.color-info
    color: $blue-light

.color-cleaning
    color: $purple