@import colors

// Form helpers

label
  &.label-light
    font-weight normal

.cmd-description
  margin-top 10px
  font-style oblique

.check-label
  margin-top 15px

.hidden
  display none

#cmd-confirm
  color $green

.remove-button
    position absolute
    top 0.75em
    right 1.5em
    width 2em
    height 2em
    line-height 1.75em
    text-align center

    &:hover
        background #fff
        border-radius 3px
        cursor pointer

    &:after
        content '×'
        font-size 20px
        color #999
