.roomy-right
    margin-right: 10px

.half-roomy-right
    margin-right: 5px

.roomy-left
    margin-left: 10px

.half-roomy-left
    margin-left: 5px
    

.page-width-normal
	max-width 1200px
	margin 0 auto
