@import colors

.remove-query-param
    color $red

.table-nav-bar
    background-color $grey-light
    padding 10px

.current-query-param
    margin-left 10px

.pagination-container
  text-align center

  ul.pagination
    position relative

.status-list
  list-style-type none
  padding-left 0

  li
    margin-bottom 5px

  li.waiting
    color $grey-medium

.glyphicon-spin
  -webkit-animation spin 1500ms infinite linear;
  animation spin 1500ms infinite linear;

@-webkit-keyframes spin
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(359deg)
    transform rotate(359deg)

@keyframes spin
  0%
    -webkit-transform: rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(359deg)
    transform rotate(359deg)

.task-filters
  & button.pull-right
    margin-left 10px

.request-group-navitem
  word-wrap break-word