.table-nav-pills

    .table-nav-pill--child
        padding-left: 1.5em

    .separator-pill
        margin-right 20px
        padding-right 20px
        border-right 1px dashed #ccc

.table-staged

    .centered
        text-align center

    th, td
        min-width 35px

    th[data-sort-attribute]
        cursor pointer
        white-space nowrap
        overflow hidden

    th[data-sorted="true"]
        overflow visible
        position relative
        z-index 500
        background #f3f3f3

        span.glyphicon-chevron-up,span.glyphicon-chevron-down
            font-size 10px
            line-height 10px
            height 19px
            width 10px
            position absolute
            top -4px
            left 50%
            margin-left -6px

    td
        overflow hidden

.keep-in-check
    max-width 300px
    white-space nowrap
    max-height 1.5em
    overflow hidden
    text-overflow ellipsis

.tooltip-inner
    max-width: 250px
    white-space: pre-wrap

.groups-dropdown
    margin-top: 5px
    margin-left: 5px !important