.dropdown-menu > .select-options *
    max-width: 515px;
    white-space: nowrap;
    min-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;

.tooltip-inner
    white-space:nowrap;
    max-width:none;
