#slave-usage-page
	margin-left : 85px
	margin-right : 85px

#slave-usage-page h1
	height: 43px;
	font-size: 36px;
	font-weight: 500;
	line-height: 44px;
	color: #425B76;

#slave-usage-page hr
	margin-left : -85px

// SlaveAggregates
.total-slaves, .total-tasks
	padding-top : 20px

.total-slaves #value, .total-tasks #value
	font-size : 60px
	text-align : center
	color: #7C98B6;

.total-slaves #label, .total-tasks #label, .avg-cpu #label, .avg-memory #label
	font-size : 20px
	text-align : center
	font-weight: 300;
	color: #7C98B6;

.avg-cpu
	margin-left : 10px
	width : 160px

.avg-memory
	margin-left : 10px
	width : 160px

// SlaveHealth
.single-slave-btn
	padding : 15px 15px
	border-radius : 0px
	display : inline-block
	opacity : .8

.single-slave-btn:hover
	opacity : 1

#slave-usage-quick-stats
	color : #7C98B6
	margin-bottom : 0
	font-size : 14px
	height : 34px

#slave-usage-quick-stats #slave-name
	padding-top : 10px
	padding-right : 0px

#slave-usage-quick-stats #pct-utilized
	color : #425B76
	text-align : center

#slave-usage-quick-stats #status
	font-size : 12px
	padding-left : 3px
	white-space : nowrap

#slave-usage-quick-stats #memory-stats
	padding-left : 5px


// SlaveHealthMenuItems
.dropdown-menu
	border-radius : 0px

.stat-item-detail
	white-space : nowrap
	padding-left : 30px
	padding-right : 5px
	width : 350px

.timestamp-stat
	color : #666
	font-size : 13px
	padding-right : 5px
	text-align : right


.stat-item-detail .row
	margin-bottom : .5em

#stat-name
	color : #666
	font-size : 13px
	display : inline

#stat-value
	display : inline

#stat-percentage
	display : inline
