#slave-usage-page
	margin-left : 25px

// SlaveAggregates
.avg-cpu
	width : 150px

.avg-memory
	width : 150px

.total-slaves #value, .total-tasks #value
	font-size : 70px
	text-align : center

.total-slaves #label, .total-tasks #label, .avg-cpu #label, .avg-memory #label
	font-size : 20px
	text-align : center

// SlaveHealth
.single-slave-btn
	padding : 15px 15px
	border-radius : 0px
	display : inline-block
	opacity : .8

.single-slave-btn:hover
	opacity : 1

// SlaveHealthMenuItems
.dropdown-menu
	border-radius : 0px

.stat-item-detail
	white-space : nowrap
	padding-left : 30px
	padding-right : 5px
	width : 350px

.timestamp-stat
	color : #666
	font-size : 13px
	padding-right : 5px
	text-align : right


.stat-item-detail .row
	margin-bottom : .5em

#stat-name
	color : #666
	font-size : 13px
	display : inline

#stat-value
	display : inline

#stat-percentage
	display : inline
