ul
  &.messenger-theme-air
    -moz-user-select: all
    -webkit-user-select: all
    -o-user-select: all
    user-select: all

.react-tagsinput
  border none
  padding 0

.react-tagsinput-tag
  background-color #F2F9FC
  border-radius 2px
  border 1px solid darken(#F2F9FC, 25%)
  color darken(#F2F9FC, 70%)
