<header>
    <h1>Slaves</h1>
</header>
<div class='col-md-12'>
    <div class="row">
        <h1>Active</h1>
        <div id="active" class="col-md-12"></div>
        <h1>Frozen</h1>
        <div id="frozen" class="col-md-12"></div>
        <h1>Decommissioning</h1>
        <div id="decommission" class="col-md-12"></div>
        <h1>Inactive</h1>
        <div id="inactive" class="col-md-12"></div>
    </div>
</div>
