<header>
    <h1>Slaves</h1>
</header>

<div class="row">
    <div id="active" class="col-md-12">
        
    </div>

    <div id="decomissioning" class="col-md-12">
        
    </div>

    <div id="dead" class="col-md-12">
        
    </div>
</div>
