<div id="global-search-container">
    <div class="global-search" data-close-global-search>
        <a data-close-global-search class="global-search-close">&times;</a>
        <div class="global-search-input-wrapper">
            <p class="global-search-tip ui-tip">Tip: You can press <code>t</code> to open this search and <code>esc</code> to close it.</p>
            <input type="search" placeholder="Search all requests..." required />
        </div>
    </div>
</div>
