<div id="top-level-nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{#appRoot}}{{/appRoot}}/">Singularity</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a data-invoke-global-search><span class="icon icon-search hidden-phone"></span> <span class="hidden-phone icon-search-adjacent-text">Search</span><span class="visible-phone">Search</span></a></li>
                    <li {{#ifEqual fragment ""}}class="active"{{/ifEqual}}>
                        <a href="{{#appRoot}}{{/appRoot}}/">Dashboard</a>
                    </li>
                    <li {{#ifEqual fragment "status"}}class="active"{{/ifEqual}}>
                        <a href="{{#appRoot}}{{/appRoot}}/status">Status</a>
                    </li>
                    <li {{#ifEqual fragment "requests"}}class="active"{{/ifEqual}}>
                        <a href="{{#appRoot}}{{/appRoot}}/requests">Requests</a>
                    </li>
                    <li {{#ifEqual fragment "tasks"}}class="active"{{/ifEqual}}>
                        <a href="{{#appRoot}}{{/appRoot}}/tasks">Tasks</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{#appRoot}}{{/appRoot}}/racks">Racks</a></li>
                            <li><a href="{{#appRoot}}{{/appRoot}}/slaves">Slaves</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
