<header class="jumbotron subhead" id="overview">
    <h1>Active Requests</h1>
</header>

<section>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="/singularity/requests" data-route="requests">Active</a>
                </li>
                <li>
                    <a href="/singularity/requests/paused" data-route="requests/paused">Paused</a>
                </li>
                <li>
                    <a href="/singularity/requests/pending" data-route="requests/pending">Pending</a>
                </li>
                <li>
                    <a href="/singularity/requests/cleaning" data-route="requests/cleaning">Cleaning</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="row-fluid">
        <div data-requests-nav-container class="span12">
            {{> requestsNav}}
        </div>
    </div>
</section>

<section>
    <div class="row-fluid">
        <input type="search" placeholder="Filter requests..." value="{{ searchFilter }}" required />
    </div>
</section>

<div data-requests-body-container>
    {{> requestsBody}}
</div>