<header class="jumbotron subhead" id="overview">
    <h1>Cleaning requests</h1>
</header>

<section>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href="{{#appRoot}}{{/appRoot}}/requests">All</a>
                </li>
                <li>
                    <a href="{{#appRoot}}{{/appRoot}}/requests/active">Active</a>
                </li>
                <li>
                    <a href="{{#appRoot}}{{/appRoot}}/requests/cooldown">Cooldown</a>
                </li>
                <li>
                    <a href="{{#appRoot}}{{/appRoot}}/requests/paused">Paused</a>
                </li>
                <li>
                    <a href="{{#appRoot}}{{/appRoot}}/requests/pending">Pending</a>
                </li>
                <li class="active">
                    <a href="{{#appRoot}}{{/appRoot}}/requests/cleaning">Cleaning</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="row-fluid">
        <input type="search" placeholder="Filter requests..." value="{{ searchFilter }}" required />
    </div>
    <div class="row-fluid">
        <div data-requests-body-container class="span12">
            {{> requestsBody}}
        </div>
    </div>
</section>