<header class="jumbotron subhead" id="overview" data-request-header>
    {{> requestHeader}}
</header>

<div data-request-active-deploy>
    {{> requestActiveDeploy}}
</div>

<section>
    <div class="page-header">
        <h1>Active Tasks</h1>
    </div>
    <div data-request-tasks-active-table-container>
        {{> requestTasksActiveTable}}
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Scheduled Tasks</h1>
    </div>
    <div data-request-tasks-scheduled-table-container>
        {{> requestTasksScheduledTable}}
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Historical Tasks &nbsp;<small><a href="{{#appRoot}}{{/appRoot}}request/{{ request.id }}/historical-tasks" data-route="/request/{{ request.id }}/historical-tasks">View more at once</a></small></h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="historical-tasks-paginated"></div>
        </div>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Info</h1>
    </div>
    <div data-request-info>
    </div>
</section>

<section>
    <div class="page-header">
        <h1>Deploy History</h1>
    </div>
    <div data-request-deploy-history>
        {{> requestDeployHistory}}
    </div>
</section>

<section>
    <div class="page-header">
        <h1>History</h1>
    </div>
    <div data-request-history>
        {{> requestHistory}}
    </div>
</section>