<ul class="nav nav-pills">
    <li {{#ifEqual requestsSubFilter "running"}}class="active"{{/ifEqual}}>
        <a href="{{#appRoot}}{{/appRoot}}requests" data-route="requests">Running</a>
    </li>
    <li {{#ifEqual requestsSubFilter "on-demand"}}class="active"{{/ifEqual}}>
        <a href="{{#appRoot}}{{/appRoot}}requests/active/on-demand" data-route="requests/active/on-demand">On-demand</a>
    </li>
    <li {{#ifEqual requestsSubFilter "scheduled"}}class="active"{{/ifEqual}}>
        <a href="{{#appRoot}}{{/appRoot}}requests/active/scheduled" data-route="requests/active/scheduled">Scheduled</a>
    </li>
</ul>