<header class="jumbotron subhead" id="overview">
    <h1>Search</h1>
</header>

<section>
    <div class="row-fluid">
        <input type="search" placeholder="Search requests and tasks..." required />
    </div>
</section>

<div class="results"></div>