<div class="table-subview-buttons">
    <div class="btn-group">
        <button data-action="previous-page" class="btn btn-default" {{#unless hasPrevButton}}disabled{{/unless}}>
            Previous
        </button>
        <button data-action="next-page" class="btn btn-default" {{#unless hasNextButton}}disabled{{/unless}}>
            Next
        </button>
    </div>
</div>
