<header class="jumbotron subhead" id="overview">
    <h1>{{#hardBreak taskHistory.task.name}}{{/hardBreak}}</h1>
    <p class="lead">{{#hardBreak path}}{{/hardBreak}}</p>
</header>

<section>
    <div class="row-fluid">
        <div class="span12 tail-container">Loading...</div>
    </div>
</section>