<section data-task-logs>
    <div class="page-header">
        <h1>S3 Logs</h1>
    </div>
    <div class="row-fluid">
        <div class="span12" data-s3-logs-wrapper>
        </div>
    </div>
</section>
