{{#if taskHistory.task.mesosTask.executor.command.environment.variables}}
    <section data-task-environment>
        <div class="page-header">
            <h1>Environment Variables</h1>
        </div>
        <ul class="row-fluid horizontal-description-list">
            {{#each taskHistory.task.mesosTask.executor.command.environment.variables}}
                <li class="span4">
                    <div>
                        <h4>{{ name }}</h4>
                        <p>{{ value }}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
{{/if}}