<section>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li {{#ifEqual tasksFilter "active"}}class="active"{{/ifEqual}}>
                    <a href="{{#appRoot}}{{/appRoot}}/tasks">Active</a>
                </li>
                <li {{#ifEqual tasksFilter "scheduled"}}class="active"{{/ifEqual}}>
                    <a href="{{#appRoot}}{{/appRoot}}/tasks/scheduled">Scheduled</a>
                </li>
                <li {{#ifEqual tasksFilter "cleaning"}}class="active"{{/ifEqual}}>
                    <a href="{{#appRoot}}{{/appRoot}}/tasks/cleaning">Cleaning</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <input type="search" placeholder="Filter tasks..." value="{{ searchFilter }}" required />
    <div class="row-fluid">
        <div data-tasks-table-container class="span12 table-staged">
            {{> tasksBody}}
        </div>
    </div>
</section>