<section data-task-files>
    <div class="page-header">
        <h1>Files</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{> filesTable}}
        </div>
    </div>
</section>
