<div class='task-detail detail-view'>
    <div class="task-overview-container">
        {{! Overwritten by renderOverview }}
        <div class="page-loader centered cushy"></div>
    </div>

    <div class="task-history-container">
        
    </div>

    <div class='task-s3-logs-container'>
        <section data-s3-logs>
            {{! Filled in by subview }}
        </section>
    </div>

    <section data-file-browser>
        
    </section>


    <div class='task-info-container'>
        
    </div>

    <div class='task-resource-container'>
        
    </div>

    <div class='task-environment-container'>
        
    </div>
</div>