<header class="jumbotron subhead" id="overview">
    <h1>Webhooks</h1>
</header>

<section>
    <div class="row-fluid">
        <div class="span12">
            <table class="table sortTable">
                <thead>
                    <tr>
                        <th>Webhook</th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn webhooks}}
                        <tr>
                            <td><span><a target="_blank" href="{{ url }}">{{#hardBreak url}}{{/hardBreak}}</a></span></td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
        </div>
    </div>
</section>