<header class="jumbotron subhead" id="overview">
    <h1>Webhooks</h1>
</header>

<section>
    <div class="row-fluid">
        <div class="span12">
            <table class="table" data-sortable>
                <thead>
                    <tr>
                        <th>Webhook</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#eachWithFn webhooks}}
                        <tr>
                            <td><a target="_blank" href="{{ url }}">{{#hardBreak url}}{{/hardBreak}}</a></td>
                            <td><a class="dont-route" data-action="remove" data-url="{{ url }}">Remove</a></td>
                        </tr>
                    {{/eachWithFn}}
                </tbody>
            </table>
            <input type="search" placeholder="Add a webhook..." required />
        </div>
    </div>
</section>