<div id="api-root-prompt-message">
	<p>
		Hi there! I see you're running the Singularity UI locally.
		You must be trying to use a <strong>remote API</strong>.
	</p>
	
	<p>
		You need to specify an <strong>API root</strong> so SingularityUI knows where to get its data,
		e.g. <code>http://example/singularity/api</code>.
	</p>
	
	<p>
		This can be changed at any time in the JS console with
		<code>localStorage.setItem(&quot;apiRootOverride&quot;, &quot;http://example/singularity/api&quot;)</code>
	</p>
</div>
