<h2>Quartz Schedule Format</h2>
<table class="table-condensed">
    <thead>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>*</th>
        <th>(year optional)</th>
    </thead>
    <tbody>
        <tr>
            <td>┬</td>
            <td>┬</td>
            <td>┬</td>
            <td>┬</td>
            <td>┬</td>
            <td>┬</td>
            <td></td>
        </tr>
        <tr>
            <td>│</td>
            <td>│</td>
            <td>│</td>
            <td>│</td>
            <td>│</td>
            <td>└</td>
            <td> day of week (0 - 7, or use names)</td>
        </tr>
        <tr>
            <td>│</td>
            <td>│</td>
            <td>│</td>
            <td>│</td>
            <td>└</td>
            <td>─ </td>
            <td> month (1 - 12)</td>
        </tr>
        <tr>
            <td>│</td>
            <td>│</td>
            <td>│</td>
            <td>└</td>
            <td>─ </td>
            <td>─ </td>
            <td> day of month (1 - 31)</td>
        </tr>
        <tr>
            <td>│</td>
            <td>│</td>
            <td>└</td>
            <td>─ </td>
            <td>─ </td>
            <td>─ </td>
            <td> hour (0 - 23)</td>
        </tr>
        <tr>
            <td>│</td>
            <td>└</td>
            <td>─ </td>
            <td>─ </td>
            <td>─ </td>
            <td>─ </td>
            <td> min (0 - 59)</td>
        </tr>
        <tr>
            <td>└</td>
            <td>─ </td>
            <td>─ </td>
            <td>─ </td>
            <td>─ </td>
            <td>─ </td>
            <td> seconds</td>
        </tr>
    </tbody>
</table>

<!--
* * * * * *   (year optional)
┬ ┬ ┬ ┬ ┬ ┬
│ │ │ │ │ └───── day of week (0 - 7, or use names)
│ │ │ │ └─────── month (1 - 12)
│ │ │ └───────── day of month (1 - 31)
│ │ └─────────── hour (0 - 23)
│ └───────────── min (0 - 59)
└─────────────── seconds
-->
<h3>Special Characters</h3>
<table class="table-condensed">
    <tbody>
        <tr>
            <th>Character</th>
            <th>Function</th>
        </tr>
        <tr>
            <td>*</td>
            <td>All values</td>
        </tr>
        <tr>
            <td>?</td>
            <td>No specific value (day of month/day of week)</td>
        </tr>
        <tr>
            <td>-</td>
            <td>Used to specify ranges (10-12)</td>
        </tr>
        <tr>
            <td>,</td>
            <td>Specify additional values (MON,WED,FRI)</td>
        </tr>
        <tr>
            <td>/</td>
            <td>Specify increments (S/N every Nth value of a set starting from value S)</td>
        </tr>
        <tr>
            <td>L</td>
            <td>
                <li>last day of week (7), or if used with a value last n day of month (ex. 6L - last friday of month)</li>
                <li>last day of the month, can also specify with an offset (ex. L-3)</li>
            </td>
        </tr>
        <tr>
            <td>W</td>
            <td>Weekday (15W, nearest weekday to 15th of the month) only for day of month</td>
        </tr>
        <tr>
            <td>#</td>
            <td>Nth XXX day of the month (6#3 - third friday of the month) only for day of week</td>
        </tr>
    </tbody>
</table>
