<p>Are you sure you want to pause this request?</p>
<pre>{{ id }}</pre>
{{#if scheduled}}
    <div>
        <label for="kill-tasks">
            <input type="checkbox" id="kill-tasks" checked>
            Kill tasks
        </label>
    </div>
{{/if}}
