<p>Are you sure you want to bounce this request?</p>
<pre>{{ id }}</pre>
<p>
	Bouncing a request will cause replacement tasks to be scheduled
	(and under normal conditions) executed immediately.
</p>
<label for="incremental-bounce" id="incremental-bounce-label">
    <input type="radio" name="incremental" value="false" checked> Kill old tasks once ALL new tasks are healthy<br>
    <input type="radio" name="incremental" id="incremental-bounce" value="true"> Kill old tasks as new tasks become healthy
</label>
<label for="skip-healthchecks" id="skip-healthchecks-label">
	<input type="checkbox" name="skip-healthchecks" id="skip-healthchecks"> Skip healthchecks during bounce
</label>
<div class="vex-dialog-input expiration-input">
		<input name="duration" id="bounce-expiration" type="text" placeholder="Expiration (optional - default {{ config.defaultBounceExpirationMinutes }}m)" />
</div>
<span class="help">If an expiration duration is specified, this bounce will be aborted if not finished. Accepts any english time duration. (Days, Hr, Min...)</span>
