<p>Are you sure you want to remove this request?</p>
<pre>{{ id }}</pre>
<p>
    If not paused, removing this request will kill all active
    and scheduled tasks and tasks for it will not run again
    unless it is reposted to Singularity.
</p>
