<p>Are you sure you want to pause this request?</p>
<pre>{{ id }}</pre>
{{#if scheduled}}
    <p id="kill-tasks-warning">
        By default, tasks that are running for a request will be killed on pause.
    </p>
    <label for="kill-tasks" id="kill-tasks-label">
        <input type="checkbox" id="kill-tasks">
        Allow currently executing tasks to finish
    </label>
{{/if}}
<div class="vex-dialog-input expiration-input">
    <input name="duration" id="pause-expiration" type="text" placeholder="Expiration (optional)" />
</div>
<span class="help">If an expiration duration is specified, this action will be reverted afterwards. Accepts any english time duration. (Days, Hr, Min...)</span>
