<p>Are you sure you want to bounce this request?</p>
<pre>{{ id }}</pre>
<p>
	Bouncing a request will cause replacement tasks to be scheduled
	(and under normal conditions) executed immediately. Existing
	tasks will be killed once replacement tasks are deemed healthy.
</p>
