<p>
	Are you sure you want to remove this {{ type }}?
</p>

<pre>{{ id }}</pre>

<p>
	Removing a decommissioned {{ type }} will cause that slave to become active again if the mesos-slave process is still running.
</p>
