<p>
	Are you sure you want to cancel decommission and reactivate this slave??
</p>

<pre>{{ id }}</pre>

<p>
	Reactivating a slave will cancel the decommission without erasing the slaves history and move it back to the active state.
</p>
