<pre>{{ id }}</pre>
<p>Update the pending deploy to include this many instances (Can be higher or lower than the current target number of instances)</p>
<div class="vex-dialog-input">
	<input name="instances" type="number" value="{{placeholder}}" min="1" max="{{maxInstances}}" step="1" required />
</div>