<p>Note - this task has recently updated and is NO LONGER in Cleanup. </p>
<pre>{{ id }}</pre>
<p>
    If you continue, this will NOT initiate a graceful kill but instead will override cleanup type and immediately initiate a non-graceful kill (-9 PID) and not wait for replacement tasks.
</p>