<p>Are you sure you want to kill this task?</p>
<pre>{{ id }}</pre>
<p>
    Long running process will be started again instantly, scheduled
    tasks will behave as if the task failed and may be rescheduled
    to run in the future depending on whether or not the request
    has <code>numRetriesOnFailure</code> set.
</p>
