<h3>Launching</h3>
<ol class="task-poller-checklist wait-for-checklist">
    <li class="wait-for-task-start">Waiting for task to launch</li>
    <li class="wait-for-file-exists">Waiting for <code>{{ autoTailFilename }}</code> to exist</li>
</ol>
<div class='page-loader centered cushy'></div>
