/* Color palette */
$pale-grey: #f9fafa;
$cirrus: #f2f5f8;
$heffalump: #425b76;
$light-blue-grey: #e5f5f8;
$battleship: #cbd6e2;
$warm-grey: #9b9b9b;
$calypso: #00a4bd;
$pale-grey-three: #f9fbfd;
$bluey-grey: #aab5c1;
$white: #ffffff;
$thunderdome-0: #5967bc;
$thunderdome: #6a78d1;
$eerie: #7c98b6;

$kashmir-blue: #516f90;
$turquoise-blue: #00a4bd;

/* Typography */
$font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
$font-weight-normal: 400; // normal
$font-weight-medium: 500; // medium
$font-weight-demibold: 600; // demibold
$font-weight-bold: 700; // bold

/* Sidebar */
$checkbox-checked: $turquoise-blue;
$checkbox-unchecked: $battleship;

/* State indicator */
$state-active: #00bda5; // 'Oz'
$state-cooling-down: $eerie;
$state-paused: #eaa836;

/* Tab Bar */
$tab-selected: $kashmir-blue;
$tab-underline: $kashmir-blue;

/* Row Links */
$row-link: $turquoise-blue;

/* Search Bar */
$search-icon: $turquoise-blue;


/* Styleguide */
@mixin link-label-style() {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 1.3;
  color: $eerie;
}

@mixin link-style() {
  font-family: $font-family;
  font-weight: $font-weight-demibold;
  font-size: 14px;
  line-height: 1.3;
  color: $turquoise-blue;
}

/* Don't use these until they are mixins */
.Page-Title {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  font-size: 32px;
  color: $heffalump;
}

.Heading-2 {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  font-size: 24px;
  color: $heffalump;
}

.Heading-3 {
  font-family: $font-family;
  font-weight: $font-weight-medium;
  font-size: 22px;
  color: $heffalump;
}

.Heading-4 {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: 20px;
  color: $heffalump;
}

.Heading-5 {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: 16px;
  color: $heffalump;
}
