/* Input placeholder styling */
@mixin input-placeholder() {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content};
}

/* Tag styles */
@mixin tag-styles($foreground, $background) {
  padding: 3px 5px;
  font-weight: $font-weight-medium;
  border-radius: 1px;

  background-color: $background;
  color: $foreground;
}
