table {
  th {
    &.sortable {
      cursor: pointer;
    }

    &.column-sorted {
      background: #f3f3f3;

      &.column-sorted-desc {

      }

      &.column-sorted-asc {

      }
    }
  }

  td {
    &.icon-column {
      width: 3em;
    }
  }
}
