<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Default is pretty verbose -->
  <logger name="com.hubspot" level="TRACE" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
