<div class="col-md-12" id="header">
    {{! Will get overwritten when we render this later on }}
    <div class="page-loader centered cushy"></div>
</div>

<div class="col-md-12" id="request-action-expirations">

</div>

<div class="col-md-12" id="request-history-msg">

</div>

<div class="col-md-12" id="active-deploy">

</div>

<div class="col-md-12" id="stats">

</div>

<div class="col-md-12" id="active-tasks">

</div>

<div class="col-md-12" id="scheduled-tasks">

</div>

<div class="col-md-12" id="task-history">

</div>

<div class="col-md-12" id="deploy-history">

</div>

<div class="col-md-12" id="request-history">

</div>
