<div class="header-container">
    {{! Will get overwritten when we render this later on }}
    <div class="page-loader centered cushy"></div>
</div>

<div class="active-deploy-container">
    
</div>


<div class="active-tasks-container">
    
</div>

<div class="scheduled-tasks-container">
    
</div>

<div class="historical-tasks-container">
    
</div>

<div class="deploy-history-container">
    
</div>

<div class="request-history-container">
    
</div>
