{{#if data.deployStatistics}}
    <div class="page-header">
        <h2>Stats for current deploy</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <div class="big-number">
                    <div class="number">
                        {{ data.deployStatistics.numSuccess }}
                    </div>
                    <div class="number-label">
                        successful tasks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <div class="big-number">
                    <div class="number">
                        {{ data.deployStatistics.numFailures }}
                    </div>
                    <div class="number-label">
                        failed tasks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <div class="big-number">
                    <div class="number">
                        {{ data.deployStatistics.numSequentialRetries }}
                    </div>
                    <div class="number-label">
                        retries
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
