// Other imports
@import '../mixins';
@import '../base';

.state-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  &.active {
    background-color: $state-active;
  }
  &.cooling-down {
    background-color: $state-cooling-down;
  }
  &.paused {
    background-color: $state-paused;
  }
}

.filter-container {
  padding-right: 20px;

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    font-size: 14px;

    li {

      div {
        display: block;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;

        .sidebar-checkbox {
          float: right;
          margin-right: 12px;
          padding: 0;
          position: relative;

          label {
            cursor: pointer;
            width: 20.1px;
            height: 20.1px;
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 0.5);
            border: solid 1.5px $battleship;
            margin-bottom: 0;
          }

          input[type='checkbox'] {
            visibility: hidden;
            display: none;

            &:checked + span {
              background-color: red;
            }

            &:checked + span:after {
              opacity: 0.5;
              content: '';
              position: absolute;
              width: 10px;
              height: 6px;
              background: transparent;
              top: 6px;
              left: 5.2px;
              border: 2px solid #333;
              border-top: none;
              border-right: none;

              transform: rotate(-45deg);
            }
          }
        }

        &:hover {
          background-color: $light-blue-grey;
          cursor: pointer;

          label {
          }
        }
      }

      &.active div {
        background-color: $cirrus;
      }

      li {
        div {
          padding-left: 30px;
        }
      }
    }
  }

  .state-indicator {
    margin-right: 5px;
  }
}
