// Other imports
@import '../mixins';
@import '../base';

.state-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  &.active {
    background-color: $state-active;
  }
  &.cooling-down {
    background-color: $state-cooling-down;
  }
  &.paused {
    background-color: $state-paused;
  }
}

.filter-container {
  padding-right: 20px;

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    font-size: 14px;

    li {

      div {
        display: block;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        input[type='checkbox'] {
          float: right;
          margin-right: 12px;
          display: none;
        }

        &:hover {
          background-color: $light-blue-grey;
          cursor: pointer;

          input[type='checkbox'] {
            display: inherit;
          }
        }
      }

      &.active div {
        background-color: $cirrus;
      }

      li {
        div {
          padding-left: 20px;
        }
      }
    }
  }

  .state-indicator {
    margin-right: 5px;
  }
}
