<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li {{#ifEqual tasksFilter "active"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks">Active</a>
            </li>
            <li {{#ifEqual tasksFilter "scheduled"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/scheduled">Scheduled</a>
            </li>
            <li {{#ifEqual tasksFilter "cleaning"}}class="active"{{/ifEqual}}>
                <a href="{{appRoot}}/tasks/cleaning">Cleaning</a>
            </li>
        </ul>
    </div>
</div>



<input type="search" class="big-search-box" placeholder="Filter tasks" value="{{ searchFilter }}" required />
<div class="row">
    <div class="col-md-12 table-staged">
        {{> tasksBody}}
    </div>
</div>
