window.config = {
    appRoot: "{{{appRoot}}}",
    apiBase: "{{{apiBase}}}",
    mesosLogPort: {{{mesosLogsPort}}},
    {{#mesosLogsPortHttps}}
    mesosLogsPortHttps: {{{mesosLogsPortHttps}}}
    {{/mesosLogsPortHttps}}
};