<div class="global-search" data-action="close-global-seach">
    <div class="container">
        <div class="close-button-container">
            <a data-action="close-global-seach">&times;</a>
        </div>

        <p class="hidden-xs text-muted tip">
            Protip: You can press <kbd>s</kbd> or <kbd>t</kbd> to open global search and <kbd>esc</kbd> to close it.
        </p>

        <form class="search-form">
            <input type="search" class="big-search-box" placeholder="Search all requests" required maxlength="128">
        </form>
    </div>
</div>
