<h3>
    New Request
</h3>

<div class="row new-form">
    <form class="col-md-5">
        <div class="form-group">
            <label for="id">ID <em>required</em></label>
            <input type="text" id="id" class="form-control required" placeholder="my-awesome-request">
        </div>

        <div class="form-group">
            <label for="owner-0">Owners</label>
            
            <div class="multi-input">
                <input type="text" id="owner-0" class="owner form-control" placeholder="user@example.com">
            </div>
        </div>

        <div class="form-group">
            <label>Type</label>

            <div id="type" class="btn-group">
                <button data-type="service" class="btn btn-default">
                    Service
                </button>
                <button data-type="worker" class="btn btn-default">
                    Worker
                </button>
                <button data-type="scheduled" class="btn btn-default">
                    Scheduled
                </button>
                <button data-type="on-demand" class="btn btn-default">
                    On-demand
                </button>
            </div>
        </div>

        <div id="service-expandable" class="row expandable hide">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="instances" class="col-sm-6">Instances</label>
                    <div class="col-sm-6">
                        <input type="text" id="instances" class="form-control" placeholder="1">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="rack-sensitive">
                        <input type="checkbox" id="rack-sensitive" checked>    
                        Rack sensitive
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="load-balanced">
                        <input type="checkbox" id="load-balanced" checked>
                        Load balanced
                    </label>
                </div>
            </div>
        </div>

        <div id="scheduled-expandable" class="expandable hide">
            <div class="form-group">
                <label for="schedule">Schedule <em>required</em></label>
                <input type="text" id="schedule" class="form-control required">
            </div>

            <div class="form-group">
                <label for="retries-on-failure">Number of retries on failure</label>
                <input type="text" id="retries-on-failure" class="form-control">
            </div>
        </div>

        <button type="submit" class="btn btn-success" disabled>
            Save
        </button>
        <button id="reset-button" class="btn btn-default hide">
            Reset
        </button>
    </form>

    <div id="help-column" class="col-md-6 col-md-offset-1 hidden-xs hidden-sm">
        
    </div>
</div>
