<div class="table-subview-buttons">
    <div class="btn-group">
        <button data-action="previous-page" class="btn btn-default" {{#unless hasPrevButton}}disabled{{/unless}}>
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button data-action="next-page" class="btn btn-default" {{#unless hasNextButton}}disabled{{/unless}}>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>
