{{#each lines}}
    <div id='line-{{offset}}' class="line" data-offset="{{ offset }}"><a href='#{{offset}}' class='offset-link'><span class="glyphicon glyphicon-link"></span> </a>{{ data }}</div>
{{/each}}