<div class="col-md-12" id="header">
    {{! Will get overwritten when we render this later on }}
    <div class="page-loader centered cushy"></div>
</div>
<div class="col-md-12" id="activeTasks">

</div>
<div class="col-md-12" id="tasks">

</div>
<div class="col-md-12" id="info">

</div>
<div class="col-md-12" id="healthChecks">
    
</div>
