<div><div class="page-header">
    <h2>Info</h2>
</div>

<div class="row">
    <ul class="list-unstyled horizontal-description-list">
        <li class="col-md-4">
            <div>
                <h4>Timestamp<a data-clipboard-text="{{ data.id }}">Copy</a></h4>
                <p>{{ data.id }}</p>
            </div>
        </li>
    </ul>
</div>
</div>
