{{! Part of taskBase }}
<header class='page-header'>
    <div class="row">
        <div class="col-md-12">
            {{log data}}
            {{!#each data}}

            <div class="">{{! data.directory }}</div>
            {{!/each}}
        </div>
    </div>
</header>
