<div class='task-detail detail-view row'>
    <div id="overview" class='col-md-12'>
        {{! Overwritten by subview }}
        <div class="page-loader centered cushy"></div>
    </div>

    <div id="alerts" class='col-md-12'>

    </div>

    <div id="deploy-failure-notification" class='col-md-12'>

    </div>

    <div id="healthcheck-notification" class='col-md-12'>

    </div>

    <div id="task-error-metadata" class='col-md-12'>

    </div>

    <div id="task-warn-metadata" class='col-md-12'>

    </div>

    <div id="history" class='col-md-12'>

    </div>

    <div id="latest-log" class='col-md-12'>

    </div>

    <div id="file-browser" class='col-md-12'>

    </div>

    <div id='s3-logs' class='col-md-12'>

    </div>

    <div id='lb-updates' class='col-md-12'>

    </div>

    <div id='info' class='col-md-12'>

    </div>

    <div id='resources' class='col-md-12'>

    </div>

    <div id='environment' class='col-md-12'>

    </div>

    <div id='health-checks' class='col-md-12'>

    </div>

    <div id="shell-commands" class='col-md-12'>

    </div>

    <div id="task-metadata-table" class='col-md-12'>

    </div>
</div>
