{{#if data.task.mesosTask.executor.command.environment.variables}}
    <div class="page-header">
        <h2>
            Environment variables
            <small><a data-action="expandToggle">
            {{#if expanded}}
                collapse
            {{else}}
                view
            {{/if}}
        </a></small>
        </h2>
    </div>
    <div class="row {{#unless expanded}}hide{{/unless}}">
        <ul class="list-unstyled horizontal-description-list">
            {{#each data.task.mesosTask.executor.command.environment.variables}}
                <li class="col-md-4">
                    <div>
                        <h4>{{ name }}</h4>
                        <p>{{ value }}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
