<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{{staticRoot}}}/images/favicon.ico" />
    {{^isDebug}}
    <link rel="stylesheet" href="{{{staticRoot}}}/css/app.css" type="text/css">
    {{/isDebug}}

    <script>
        window.config = {
            staticRoot: "{{{staticRoot}}}",
            appRoot: "{{{appRoot}}}",
            apiDocs: "{{{apiDocs}}}",
            apiRoot: localStorage.getItem("apiRootOverride") || "{{{apiRoot}}}",
            title: "{{{title}}}",
            hideNewDeployButton: {{{hideNewDeployButton}}},
            hideNewRequestButton: {{{hideNewRequestButton}}},
            loadBalancingEnabled: {{{loadBalancingEnabled}}},
            defaultCpus: {{{defaultCpus}}},
            defaultMemory: {{{defaultMemory}}},
            defaultDisk: {{{defaultDisk}}},
            defaultBounceExpirationMinutes: {{{defaultBounceExpirationMinutes}}},
            defaultHealthcheckIntervalSeconds: {{{defaultHealthcheckIntervalSeconds}}},
            defaultHealthcheckTimeoutSeconds: {{{defaultHealthcheckTimeoutSeconds}}},
            defaultStartupTimeoutSeconds: {{{defaultStartupTimeoutSeconds}}},
            defaultHealthcheckMaxRetries: {{{defaultHealthcheckMaxRetries}}},
            pendingWithinSeconds: 60,
            runningTaskLogPath: "{{{ runningTaskLogPath }}}",
            finishedTaskLogPath: "{{{ finishedTaskLogPath }}}",
            commonHostnameSuffixToOmit: "{{{ commonHostnameSuffixToOmit }}}",
            showTaskDiskResource: {{{showTaskDiskResource}}},
            taskS3LogOmitPrefix: "{{{ taskS3LogOmitPrefix }}}",
            slaveHttpPort: {{{slaveHttpPort}}},
            warnIfScheduledJobIsRunningPastNextRunPct: {{{warnIfScheduledJobIsRunningPastNextRunPct}}},
            timestampFormat: localStorage.getItem('timestampFormatOverride') || "{{{timestampFormat}}}",
            timestampWithSecondsFormat: localStorage.getItem('timestampWithSecondsFormatOverride') || "{{{timestampWithSecondsFormat}}}",
            {{#slaveHttpsPort}}
            slaveHttpsPort: {{{slaveHttpsPort}}},
            {{/slaveHttpsPort}}
            shellCommands: {{{shellCommands}}},
            shortenSlaveUsageHostname : {{{shortenSlaveUsageHostname}}},
            redirectOnUnauthorizedUrl: "{{{redirectOnUnauthorizedUrl}}}",
            globalRefreshInterval: 60000,
            sentryDsn: "{{{sentryDsn}}}",
            generateAuthHeader: {{{generateAuthHeader}}},
            authCookieName: "{{{ authCookieName }}}",
            authTokenKey: "{{{ authTokenKey }}}",
            quickLinks: {{{quickLinks}}}
        };
    </script>
    <script src="{{{staticRoot}}}/js/vendor.bundle.js"></script>
    <script src="{{{staticRoot}}}/js/app.bundle.js"></script>
    {{#extraScript}}
    {{{extraScript}}}
    {{/extraScript}}
</head>
{{#navColor}}
<body class="env-color-{{{.}}}">
{{/navColor}}
{{^navColor}}
<body>
{{/navColor}}
    <div id="static-loader" class="page-loader fixed"></div>
    <div id="root"></div>
    <div style="-webkit-transform: translateZ(0)"></div>
</body>
</html>
