@import nib

.big-number-link

    &, &:hover
        text-decoration none

.big-number
    height 55px
    text-align center

    .number
        font-size 36px
        line-height 36px
        position relative
        top -2px

    .number-label
        font-size 19px
        line-height 21px
        color #aaa
        text-transform lowercase
        overflow ellipsis

        &.small
            font-size 14px