@import nib
@import colors

pre.with-copy-button

    button[data-copy-button]
        cursor pointer
        background inherit
        border 0
        outline 0
        color $linkBlue
        text-align center
        margin: -8.5px
        padding 8.5px 0 8.5px
        width 4.5em
        margin-right .7em

        &.zeroclipboard-is-hover
            background $linkBlue
            color #fff

        &:before
            content "Copy"

    &.copied

        button[data-copy-button]

            &, .zeroclipboard-is-hover
                background lighten($green, 50%)
                color darken($green, 43%)

            &:before
                content "Copied"