@import nib

html.darkstrap

    .nav-list .divider
        background-color #000
        border-bottom 1px solid #333

    .dropdown-menu .divider
        background-color #000
        border-bottom 1px solid #444

    .navbar .dropdown-menu::after
        border-bottom-color #333

    .simple-bar-chart rect
        stroke #202020

    .well .nav-list.nav > li

        &.active a, a:hover
            box-shadow inset 1px 0px rgba(0, 0, 0, 0.3), inset 2px 0px rgba(0, 0, 0, 0.1), inset -1px 0px rgba(0, 0, 0, 0.3), inset -2px 0px rgba(0, 0, 0, 0.1)

        &.active a, &.active > a:hover
            background-color #09c
            color #fff

        > a:hover
            background-color #1c1c1c
            color #2ae

    .navbar .nav

        .divider-vertical
            border-bottom 1px solid #222

        > li.active

            > a, > a:hover
                box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.5)

    .close
        color #eee

        &:hover
            color #fff

@media (min-width: 979px)

    html.darkstrap

        .dropdown-menu
            background-color #333

            a
                color #c6c6c6