@import nib

html.darkstrap

    .nav-list .divider
        background-color #000
        border-bottom 1px solid #333

    .dropdown-menu .divider
        background-color #000
        border-bottom 1px solid #444

    ul.event-list li.event-row
        border-bottom 1px solid #000
        box-shadow 0 1px #333

        &:last-child
            border-bottom 0px
            box-shadow none

    ul.projects-manage-list li.project
        border-bottom 1px solid #000
        box-shadow 0 1px #333

        &:last-child
            border-bottom 0px
            box-shadow none

    .navbar .dropdown-menu::after
        border-bottom-color #333

    .simple-bar-chart rect
        stroke #202020

    .well .nav-list.nav > li

        &.active a, a:hover
            box-shadow inset 1px 0px rgba(0, 0, 0, 0.3), inset 2px 0px rgba(0, 0, 0, 0.1), inset -1px 0px rgba(0, 0, 0, 0.3), inset -2px 0px rgba(0, 0, 0, 0.1)

        &.active a, &.active > a:hover
            background-color #09c
            color #fff

        > a:hover
            background-color #1c1c1c
            color #2ae

    .navbar .nav

        .divider-vertical
            border-bottom 1px solid #222

        > li.active

            > a, > a:hover
                box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.5)

    ul.event-list.with-customized-events li.event-row

        &.DEPLOY_QA_SUCCESSFUL, &.DEPLOY_PROD_SUCCESSFUL
            box-shadow inset 1px 0 #1EBE00, 0 1px #333
            background transparent

        &.DEPLOY_QA_FAILED, &.DEPLOY_PROD_FAILED, &.JENKINS_BUILD_FAILED
            box-shadow inset 1px 0 #F00, 0 1px #333
            background transparent

        &.JENKINS_BUILD_SUCCESSFUL
            box-shadow inset 1px 0 #08C, 0 1px #333
            background transparent

        &:last-child

            &.DEPLOY_QA_SUCCESSFUL, &.DEPLOY_PROD_SUCCESSFUL
                box-shadow inset 1px 0 green

            &.DEPLOY_QA_FAILED, &.DEPLOY_PROD_FAILED, &.JENKINS_BUILD_FAILED
                box-shadow inset 1px 0 red

            &.JENKINS_BUILD_SUCCESSFUL
                box-shadow inset 1px 0 #08C

    #events-filter-nav-phone
        background-image -webkit-linear-gradient(#404040, #222)
        border-color #202020

        &:hover
            background-image -webkit-linear-gradient(#444, #303030)

        &:active
            background #303030
            -webkit-box-shadow inset 0px 2px 10px rgba(0, 0, 0, 0.3)

    .stats-table

        .you td
            background transparent

            &:first-child
                box-shadow inset 1px 0 #08C

    .close
        color #eee

        &:hover
            color #fff

@media (min-width: 979px)

    html.darkstrap

        .dropdown-menu
            background-color #333

            a
                color #c6c6c6