html.darkstrap

    .navbar-inner
        background-image none
        box-shadow none

    .navbar

        .nav

            > li > a
                text-shadow none

            > li.active

                > a, > a:hover
                    box-shadow none

        .btn-navbar
            background-image none
            box-shadow none

        .divider-vertical
            border-right 1px solid rgba(255, 255, 255, 0.1)

    .well, .breadcrumb
        box-shadow none
        background #202020
        background-color rgba(0, 0, 0, 0.3)

    input
        box-shadow none
        background #202020
        background-color rgba(0, 0, 0, 0.3)
        &[type="file"]
            box-shadow none
            background #202020
            background-color rgba(0, 0, 0, 0.3)

    select, textarea, .progress, code, pre
        box-shadow none
        background #202020
        background-color rgba(0, 0, 0, 0.3)

    body
        background #2f2f2f
        color #c6c6c6

    .breadcrumb
        border 0
        li
            text-shadow none

    .page-header
        box-shadow none
        border-bottom 1px solid #121212

    h1, h2, h3, h4, h5, h6
        color #e6e6e6

    .nav-tabs .dropdown-toggle, .nav-pills .dropdown-toggle
        background-color #222222
        border-color #2f2f2f #2f2f2f transparent #2f2f2f

    .nav >
        .open.active a:hover
            background-color #222222
            border-color #2f2f2f #2f2f2f transparent #2f2f2f
        .dropdown.active a:hover
            color #fff

    .nav-tabs .caret, .nav-pills .caret
        border-top-color #fff

    .nav-tabs
        border-bottom 1px solid #666
        >
            .active a
                background-color #2f2f2f
                color #fff
                border-color #666 #666 transparent #666
                &:hover
                    background-color #2f2f2f
                    color #fff
                    border-color #666 #666 transparent #666
            li a:hover
                border-color #2f2f2f #2f2f2f #666666 #2f2f2f
                background-color #222222
                color #00aaff
        &.nav-stacked a
            border-color #666
            &:hover
                border-color #666

    .nav-pills a:hover
        background-color #222222
        color #00aaff

    .nav-list
        > a, .nav-header
            text-shadow none
        > a:hover
            background-color #161616
            color #00aaff
        .active a:hover
            background-color #0088cc
            color white

    .tabs-below .nav-tabs
        border-top 1px solid #666

    .tabs-left .nav-tabs
        border-right 1px solid #666

    .tabs-right .nav-tabs
        border-left 1px solid #666

    .tabs-below a:hover
        border-top 1px solid #666

    .tabs-left a:hover
        border-color transparent #666 transparent transparent

    .tabs-right a:hover
        border-color transparent transparent transparent #666

    .tabs-below a
        border-color transparent #666 #666 #666
        &:hover
            border-color transparent #666 #666 #666

    .tabs-left a
        border-color #666 transparent #666 #666
        &:hover
            border-color #666 transparent #666 #666

    .tabs-right a
        border-color #666 #666 #666 transparent
        &:hover
            border-color #666 #666 #666 transparent

        color #666666

    .input-prepend .add-on, .input-append .add-on
        background #444
        color #c6c6c6
        border-color #111
        text-shadow none

    label
        color #c6c6c6

    input
        color white
        border-color #111111
        &[type="file"]
            color white
            border-color #111111

    select, textarea
        color white
        border-color #111111

    .search-query
        -webkit-box-shadow none

    legend
        color white
        box-shadow none
        border-bottom 1px solid #121212

    .form-actions
        border-top-color #222
        background-color #444

    .help-inline
        color #999

    .control-group
        &.warning
            > label, .help-block, .help-inline
                color #faa732
            input, select, textarea
                color #faa732
                border-color #faa732
            input:focus, select:focus, textarea:focus
                border-color #faa732
                box-shadow none
        &.success
            > label, .help-block, .help-inline
                color #5bb75b
            input, select, textarea
                color #5bb75b
                border-color #5bb75b
            input:focus, select:focus, textarea:focus
                border-color #5bb75b
                box-shadow none
        &.error
            > label, .help-block, .help-inline
                color #fc5b5e
            input, select, textarea
                color #fc5b5e
                border-color #fc5b5e
            input:focus, select:focus, textarea:focus
                border-color #fc5b5e
                box-shadow none

    .table
        thead
            color white
        td
            border-top-color #666

    .table-striped tr:nth-child(2n+1)
        td, th
            background-color #444

    .table-bordered
        border 1px solid #666
        th th, td td, th td, td th
            border-left 1px solid #666

    .pagination
        a:hover
            color #00aaff
            background-color #222222
        .active a
            color #fff
            background-color #222222
        a
            border-color #666

    .pager a
        background-color #2f2f2f
        border-color #666
        &:hover
            background-color #222222
            color #00aaff

    .alert
        color #fff
        background-color #faa732
        text-shadow none
        border-color #a86404
        h4
            color #c17305

    .alert-success
        color #fff
        background-color #5bb75b
        text-shadow none
        border-color #2d662d
        h4
            color #347834

    .alert-error
        color #fff
        background-color #fc5b5e
        text-shadow none
        border-color #d40408
        h4
            color #ed0409

    .alert-info
        color #fff
        background-color #3a87ad
        text-shadow none
        border-color #1a3c4e
        h4
            color #204b61

    .modal
        background-color #444

    .modal-header
        border-bottom 1px solid #222

    .modal-body p
        color #c6c6c6

    .modal-footer
        background-color #373737
        border-top 1px solid #222
        box-shadow none

    blockquote
        border-left-color #111
        &.pull-right
            border-right-color #111

    hr
        box-shadow none
        border-bottom 1px solid #121212
        border-top none

    code
        border none

    pre
        border none
        color #c6c6c6