@css {
    html.dark-theme {
        -webkit-filter: invert(1)
    }

    .dark-theme .drop.select-theme-default .drop-content {
        -webkit-box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
        box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
    }

    html.dark-theme .vex.vex-theme-default .vex-overlay {
        background: rgba(255, 255, 255, 0.7);
    }
}