@import nib

dl
    clearfix()
    margin 0 0 1.5em

    dt
        display inline-block
        font-size 1.2em
        line-height 2em
        margin-bottom .5em
        font-weight 500
        position relative

    dd
        margin-left 2em

    @media (min-width: 769px)

        dt, dd
            float left

        dt
            width 30%
            padding-right 5%
            clear left

        dd
            width 70%
            margin 0 0 1.5em

    @media (min-width: 1000px)

        dt
            width 20%

        dd
            width 80%