.global-search
    display none

.global-search-active .global-search
    display block

.global-search
    position fixed
    z-index 8000
    top 0
    left 0
    bottom 0
    right 0
    background rgba(255, 255, 255, .9)

    .close-button-container
        margin 20px 0 50px
        text-align right

        a
            color inherit
            font-size 50px

            &:hover
                text-decoration none

    .tip
        text-align right

    strong
        font-weight 400
        color rgba(0, 0, 0, .25)

    input[type="search"]
        background rgba(240, 240, 240, .9)

        &, &::-webkit-search-cancel-button:after
            font-size 20px !important

    // Overwrite twitter typeahead styles
    .twitter-typeahead

        &, .tt-suggestions, .tt-suggestion
            display block !important
            width 100%

        .tt-suggestion
            padding 15px 10px

            &.tt-cursor
                background rgba(0, 0, 0, .03)
