@import colors

.subhead
    
    .button-container
        text-align right

    .request-state
        text-transform lowercase
        padding 4px .8em
        line-height 27px
        font-size 18px
        border-radius 4px
        background #888
        color #fff
        margin-right .5em
        
        &.ACTIVE
            background #519D3D
        
        &.PAUSED
            background #3374CD
        
        &.SYSTEM_COOLDOWN
            background #BF5D36
        
        &:empty
            display none
