@import nib

.icon
    display inline-block
    position relative
    height 12px
    width 20px
    -webkit-font-smoothing antialiased

    &:before, &:after
        position absolute
        content ""

.icon-directory

    &:before
        content ""
        top 3px
        left 0
        width 19px
        height 11px
        border 1px solid
        border-radius 2px 2px 1px 1px

    &:after
        top 0
        left 3px
        border 1px solid
        height 4px
        width 9px
        border-radius 10px 10px 0 0

.icon-file

    &:before
        top 0
        left 2px
        width 15px
        height 16px
        border 1px solid
        border-radius 1px

    &:after
        top 4px
        left 5px
        height 8px
        width 9px
        border-top 2px solid rgba(0, 0, 0, 0)
        border-bottom 2px solid rgba(0, 0, 0, 0)
        opacity .7

    &:after, a:hover &:after
        box-shadow 0 -1px, inset 0 -1px, inset 0 1px, 0 1px

.icon-search

    &:before
        top -1px
        left 0
        height 13px
        width 13px
        border 2px solid
        border-radius 50%

    &:after
        top 10px
        left 12px
        height 5px
        width 0px
        border-right 3px solid
        transform rotateZ(-45deg)
