.json-modal
    padding 0 !important

    .vex-content
        position fixed !important
        left 5%
        top 50px
        bottom 50px
        width 90% !important

        pre
            overflow-y scroll
            position absolute
            left 15px
            right 15px
            top 15px
            bottom 50px

        .vex-dialog-buttons
            position absolute
            bottom 15px
            right 15px

.constrained-modal
  max-height: calc(100vh - 160px)
  overflow: auto
