@import colors

.border-color-light-gray
    border-color: $grey-light

@media (min-width: 992px)
    .col-md-1-5
        width: 20%

.childItem
  margin-left: 10px

.page
  padding 0 20px 50px 20px

.page, .navbar .container-fluid {
    max-width: 1500px;
}

.tab-container
  padding-top: 25px;

  .page
    padding: 0
