@import nib

html
    height 100%

    body
        min-height 100%

a
    cursor pointer

a.disabled
    cursor none
    pointer-events none
    color #999

a.disabled:hover
    background-color transparent

.link-spacer
    opacity 0.2
    padding 0px 5px

.subtle
    opacity 0.5

.ellipsis
    overflow ellipsis

.hard-wrap
    word-wrap break-word

tr.filtered
    display none

table.filtered
    display none

.requests-filter-container
    margin-top -1rem
    margin-bottom 1rem

// Overrides

#nav-user-name
    cursor default

table th
    text-align left

#page
    padding-bottom 40px

.row-fluid .span2dot5
    width 17.95%
    *width 17.95%