@import nib

html
    overflow-y scroll
    height 100%

    body
        min-height 100%

a
    cursor pointer

a.disabled
    cursor none
    pointer-events none
    color #999

a.disabled:hover
    background-color transparent

.link-spacer
    opacity 0.2
    padding 0px 5px

.subtle
    opacity 0.5

// Overrides

.page-header
    margin-top 20px
    margin-bottom 10px
    
    h1, h2, h3
        margin 0

.row
    margin-bottom 1em

#nav-user-name
    cursor default

table th
    text-align left

#page
    max-width 1500px
    padding 0 20px 50px 20px

.page-header small
    margin-left 1em
