@import colors

.nav.nav-pills

    li
        position relative

        &:not(.active)

            &:first-child

                a:not(:hover)
                    margin-left 0

            a:hover
                background #fff
                box-shadow inset 0 0 0 .2em $linkBlue

        &.active:not(:first-child) a
            margin-left 10px

        &.active:not(:last-child) a
            margin-right 10px