html

    .navbar-fixed-top .brand
        color #888

    .navbar-inner
        background-color #eee
        background-image none
        box-shadow none

    .navbar

        .nav

            > li > a

                &:hover
                    color #666

            > li.active

                > a, > a:hover
                    color #fff
                    text-decoration none
                    background-color #08c
                    box-shadow none

            .divider-vertical
                border-right 1px solid #ccc

            li.dropdown .dropdown-toggle .caret, li.dropdown.open .caret
                border-top-color inherit
                border-bottom-color inherit

        .btn-navbar
            background-color #f0f0f0
            background-image none
            border-color #e3e3e3 #e3e3e3 #f4f4f4
            box-shadow none

            &:active
                border-color #cfcfcf
                box-shadow none

            .icon-bar
                background-color #ccc
                box-shadow none

    @media (max-width: 979px)

        .nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover
            background-color rgba(0, 0, 0, 0.02)
            box-shadow none

        .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
            color #666

.nav-pills-with-nav-pills-below
    margin-bottom 0

.btn-navbar:hover
    background-position initial
    transition none

.navbar .btn-navbar:active
    box-shadow inset 0px 1px 3px rgba(0, 0, 0, 0.2)

.navbar-fixed-top .brand
    transition none

.navbar .nav > li > a
    padding 10px 10px 11px