.new-form
    
    #help-column
        border-left 5px solid #eee

    #type
        display inline-block
        width 100%
    
    #instances
        width 30%

    .row.inline-form
        line-height 34px

        input[type="text"]
            margin-left 4%
