@import colors

.remove-query-param
    color $red

.table-nav-bar
    background-color $grey-light
    padding 10px

.current-query-param
    margin-left 10px

.pagination-container
  text-align center

  ul.pagination
    position relative
