#table-nav-pills
    
    #paused-pill
        margin-right 20px
        padding-right 20px
        border-right 1px dashed #ccc

.table-staged

    tbody

        .centered
            text-align center

        td
            overflow hidden

            &:hover
                overflow-x visible

            &.star-column
                min-width 50px
