.requests-filter-container
    margin-top -4px

    .nav.nav-pills-multi-select
        display inline-block

        li
            margin 0

        a
            margin 0 !important
            background #f3f3f3
            color #aaa
            border-radius 0

        li.active a
            background #fff
            color #ddd

        li.active a:hover, li a:hover
            background #eee
            border none
            box-shadow none

    .filter-tip
        margin-left 20px
        position relative
        top -14px
