*, *:after, *::before
    box-sizing border-box

html, body
    margin 0

html
    overflow-y scroll

a
    cursor pointer

::-webkit-input-placeholder
    color rgba(0, 0, 0, .3)

:-moz-placeholder
    color rgba(0, 0, 0, .3)

::-moz-placeholder
    color rgba(0, 0, 0, .3)

:-ms-input-placeholder
    color rgba(0, 0, 0, .3)

input[type="search"][required]
    border-radius 0
    position relative
    padding .1rem 1.1rem .1rem .25rem

    &::-ms-clear
        display none

    &::-webkit-search-cancel-button
        -webkit-appearance none

    &::-webkit-search-cancel-button:after
        font-family Arial, sans-serif
        content "\00D7"
        display block
        position absolute
        right 0
        top 0
        bottom 0
        width .85rem
        font-size .8rem
        text-align left
        cursor pointer

    &:valid::-webkit-search-cancel-button:after
        opacity 1

    &:invalid::-webkit-search-cancel-button:after
        opacity 0