input[type="search"]
    height 1.75rem
    border 0
    font-family inherit
    font-size 1.17em
    padding-left .52rem
    margin 0
    color inherit
    opacity .5
    width 50%
    background rgba(0, 0, 0, .1)
    margin-bottom 4px
    width 100%
    font-weight bold

    &::-webkit-search-cancel-button:after
        line-height 1.8rem
        font-weight normal

    &:focus
        background rgba(0, 0, 0, .05)
        opacity 1
        outline none