input.big-search-box
    height 50px
    line-height 50px
    border 0
    font-size 20px
    font-family inherit
    padding 0 10px !important
    margin 0
    color inherit
    opacity .5
    background rgba(0, 0, 0, .1)
    margin-bottom 4px
    width 100%
    display block
    font-weight bold

    &::-webkit-search-cancel-button:after
        line-height 1.8rem
        font-weight normal

    &:focus
        background rgba(0, 0, 0, .05)
        opacity 1
        outline none
