a.star
    text-decoration none
    cursor pointer
    color #dfdfdf
    font-size 18px
    margin -5px 0 -5px
    padding 10px 0
    display inline-block
    line-height 0
    position relative
    top 2px

    &[data-starred="true"]
        color #08c