.table tbody tr:hover td, .table tbody tr:hover th
    background-color rgba(0, 0, 0, .05)

.table
    background #f9f9f9

.table

    td > span
        white-space nowrap

.table, table, table[data-sortable]

    th, td

        &.actions-column
            white-space nowrap
            text-align right

            a
                margin-left 10px