.tail-container
    font-family Consolas, "Liberation Mono", Courier, monospace
    overflow scroll
    height 500px

    > div
        width 100%
        white-space pre

        &:hover
            background #eee