@import colors

.tail-wrapper

    .tail-indicator
        display inline-block
        font-size 12px
        line-height 12px
        margin auto
        bottom 30px
        right 30px
        opacity .8
        transition opacity .4s
        background $red
        color #fff
        padding .75em .7em .7em
        font-weight 200
        letter-spacing .2em
        border-radius 5px
        text-transform uppercase

        &:before
            content "Not tailing"

        .page-loader
            display none
            border-top-color inherit
            border-right-color inherit

        &:hover
            opacity 1

    &.tailing .tail-indicator
        background $green

    &.fetchNext, &.fetchPrev

        .tail-indicator
            background $orange

    &.tailing .tail-indicator:before
        content "Tailing"

    &.fetchNext .tail-indicator

        .page-loader
            display block

        &:before
            content ""

    &.fetchPrev .tail-indicator

        .page-loader
            display block

        &:before
            content ""

.tail-outer
    position relative
    font-family Consolas, "Liberation Mono", Courier, monospace
    overflow auto
    -webkit-overflow-scrolling touch

    @media (max-width: 1199px)
        height 500px

    .tail-loader
        display none

    &.loading .tail-loader
        display block

    &.empty
        font-family inherit
        text-align center
        font-size 1.3em

        &:before
            content "This file is empty."
            opacity .7
            position absolute
            margin auto
            top 0
            left 0
            right 0
            bottom 4em
            height 1em

    .tail-container

        > div
            width 100%
            white-space pre

            &:hover
                background #eee

@media (min-width: 1200px)

    .tail-wrapper

        .tail-indicator
            position absolute

    html.tail-view

        &, body
            height 100%
            overflow hidden

        .navbar-inner .container
            width 100% !important
            max-width 100% !important
            padding-left 20px
            padding-right 20px

        #page
            position fixed
            width 100%
            max-width: 100%
            top 40px
            bottom 0
            left 0
            right 0

            header
                position absolute
                top 0
                left 0
                right 0
                padding 13px 20px
                height 90px
                background #fcfcfc
                margin 0

                h1
                    display block
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis
                    font-size 25px
                    height 1.4em
                    line-height 1.4em
                    padding-right 0

                    wbr
                        display none

            .tail-outer
                position absolute
                top 90px
                left 0
                right 0
                bottom 0
                background #f3f3f3

                .tail-container
                    display inline-block

                    > div
                        padding 0 20px

                        &:hover
                            background #ccc