@import colors

.vex

    pre
        border 0
        background #fff

.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary
    background $linkBlue

.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary.vex-dialog-button-primary-remove
    background $removeRed

.vex.vex-theme-default.vex-theme-default-json-view

    .vex-content
        position absolute
        margin auto
        left 0
        right 0
        top 20px
        bottom 20px
        width 1200px
        max-width 90%

        pre
            position absolute
            top 20px
            left 20px
            right 20px
            bottom 60px

        .vex-dialog-buttons
            position absolute
            bottom 20px
            right 20px

.vex-loading-spinner.vex-theme-default
    position fixed
    margin auto
    top 0
    left 0
    bottom 0
    right 0
    height 2em
    width 2em
    border-radius 100%
    border .25em solid transparent
    border-top-color $grey
    border-right-color $grey
    z-index 300
    backface-visibility hidden
    animation spinner 700ms linear infinite
    box-shadow 0 0 0 1em #fff
    background #fff